[Unit]
Description=Back up the W2 database every six hours
[Timer]
OnCalendar=00/6:20
Persistent=true
RandomizedDelaySec=300
[Install]
WantedBy=timers.target
